<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs',{title}); %>
</head>

<body class="main_bdy">
    <header class="main_head">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center py-3">
                    <img src="./assets/images/logo-dark.png" alt="logo">
                </div>
            </div>
        </div>
    </header>

    <section class="main_content_hero">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h3>
                        <span class="d-inline-block">Want to Become a Successful Forex Trader?</span><br>
                        Get <b class="theme_clr">Free Profitable Forex Signals</b> in 1 Telegram Channel
                    </h3>
                    <h1>We Hold An Accuracy Of More Than <span class="highlight">92%</span></h1>
                    <span class="h2 text-capitalize">which helped us to maintain <u><b class="text-uppercase">consistent
                                results.</b></u></span>
                </div>
                <div class="col-lg-12 text-center py-5">
                    <img src="./assets/images/banner.png" alt="banner" class="w-100">
                </div>
                <div class="col-lg-8 text-center">
                    <span class="h3 text-capitalize">We Adapt To Changing Market Conditions. That's Why We Are Able To
                        Keep To Losses Small And Gains Big.​</span>
                </div>
                <!-- phone card -->
                <div class="col-lg-9">
                    <div class="d-flex phone_card align-items-center">
                        <div class="col-lg-3 order-2 order-lg-1">
                            <img src="./assets/images/phone.png" alt="phone" class="w-100">
                        </div>
                        <div class="col-lg-9 order-1 order-lg-2 text-center">
                            <h4>Claim Your Free Access Now And <b>Trade Like The Banks With Us</b></h4>
                            <%- include('../partials/buttons.ejs',{btnLink}); %>
                        </div>
                    </div>
                </div>
                <!-- phone card -->

                <div class="col-lg-9 text-center mt-20">
                    <h1>We Are Currently Serving <span class="highlight">350k+ FREE MEMBERS.</span></h1>
                </div>

                <div class="col-lg-7 text-center">
                    <p class="h2 text-capitalize">
                        <b class="text-danger d-block">Account Balance Doesn't Metter.</b>
                        PATRADING Has <b>Already Helped Countless</b> People Around The World... To <b>Grow Their
                            Trading Accounts.</b>
                    </p>
                    <h3 class="grn">Here Is Some Proof</h3>
                </div>


                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="profe_card">
                                <img src="./assets/images/small.png" alt="banner" class="w-100">
                                <p>
                                    With $404 Deposit <br>
                                    Got <b class="badgew">$290</b> Profit
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="profe_card">
                                <img src="./assets/images/big.png" alt="banner" class="w-100">
                                <p>
                                    With $1,00,000 Deposit <br>
                                    Got <b class="badgew">$56,168</b> Profit
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <p class="h1 text-capitalize text-center mt-20">
                        <b>Real-Time Accurate Signals</b> With Proper <b>Risk Management</b> To Ensure <u>Small
                            Losses</u> And <u>Big Profits</u>
                    </p>
                </div>
                <div class="col-lg-11 mt-20">
                    <img src="./assets/images/explaind.png" alt="phone" class="w-100">
                </div>
                <div class="col-lg-7 mt-20">
                    <p class="text-capitalize h5">Forex is a volatile market. Still we try to <u>notify our Free Channel
                            Members</u>, if we are looking at a certain setup. We provide <u>small SLs almost
                            instantly</u>. Let's see in details what will you get from our <b>free signals.</b></p>

                    <ul class="mt-20">
                        <li class="h4">Free Profitable Forex Signals At Your Phone</li>
                        <li class="h4">92% accurate signals to maximize Your profits</li>
                        <li class="h4">Exact entry, exit & stop loss figures to copy</li>
                        <li class="h4">Chart work and technical analysis to improve your skill</li>
                        <li class="h4">Guidance for proper risk management </li>
                        <li class="h4">24/7 Dedicated Support Team to Answer Your Questions </li>
                    </ul>
                    <%- include('../partials/buttons.ejs',{btnLink}); %>


                    <p class="h2 text-center text-capitalize mt-20">Precise <b class="badgew">Free</b> Trading Analysis
                        To <b>Help You Learn Profitable Trading Rules And Strategy</b></p>
                </div>


                <div class="col-lg-6 col-md-6 mt-20">
                    <img src="./assets/images/download-2-1-1024x508.png" alt="chart" class="w-100 border">
                </div>
                <div class="col-lg-6 col-md-6 mt-20">
                    <img src="./assets/images/download-2-1024x508.png" alt="chart" class="w-100 border">
                </div>
                <div class="col-lg-7 mt-20">
                    <p class="h3 text-center">We <u>Provide Detailed Analysis On The Trades</u> We Have Taken. We
                        <u>Explain Many Complex Strategies</u> Very Simply.</p>

                    <h3 class="h2 mt-20 text-center">Listen To What <b class="text-dark">Our Community Has To Say</b>
                    </h3>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <img src="./assets/images/1-1.png" alt="chart" class="w-100 border">
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <img src="./assets/images/2.png" alt="chart" class="w-100 border">
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <img src="./assets/images/4.png" alt="chart" class="w-100 border">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="feature">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <h3>Features & Benefits of Trading With US </h3>
                    <ul>
                        <li>No need to search for new opportunities, you get them INSTANTLY!</li>
                        <li>​Live Feed of profitable trading opportunities straight to your phone in real-time.</li>
                        <li>​Insider market knowledge for retail traders </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="endpart">
        <div class="container">
            <div class="row justify-content-center">
                <!-- phone card -->
                <div class="col-lg-9">
                    <div class="phone_card align-items-center">
                        <div class="contentArea text-center">
                            <h4>Claim Your Free Access Now And <b>Trade Like The Banks With Us</b></h4>
                            <%- include('../partials/buttons.ejs',{btnLink}); %>
                        </div>
                        <div class="imgarea">
                            <img src="./assets/images/phone.png" alt="phone" class="w-100">
                        </div>
                    </div>
                </div>
                <!-- phone card -->
            </div>
        </div>
    </section>


    <%- include('../partials/footer.ejs'); %>
</body>

</html>